{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_file = page.header.header_image_file %}

{% if header_image %}
    {% if header_image_file %}
        {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
        {% set header_image_media = page.media.images|first %}
    {% endif %}
    {{ header_image_media.html }}
{% endif %}

<br>

{% if page.header.website %}
    <span><b>Website:</b> <a target="_blank" href="{{ page.header.website }}">{{ page.header.website }}</a></span><br>
{% endif %}
{% if page.header.facebook %}
    <span><b>Facebook:</b> <a target="_blank" href="{{ page.header.facebook.url }}">{{ page.header.facebook.name }}</a></span><br>
{% endif %}
{% if page.header.twitter %}
    <span><b>Twitter:</b> <a target="_blank" href="{{ page.header.twitter.url }}">{{ page.header.twitter.name }}</a></span><br>
{% endif %}
{% if page.header.instagram %}
    <span><b>Instagram:</b> <a target="_blank" href="{{ page.header.instagram.url }}">{{ page.header.instagram.name }}</a></span><br>
{% endif %}
{% if page.header.tiktok %}
    <span><b>TikTok:</b> <a target="_blank" href="{{ page.header.tiktok.url }}">{{ page.header.tiktok.name }}</a></span><br>
{% endif %}
{% if page.header.podcast %}
    <span><b>Podcast:</b> <a target="_blank" href="{{ page.header.podcast.url }}">{{ page.header.podcast.name }}</a></span><br>
{% endif %}

{% if page.header.annual_contest_2021 %}
    <h5>2021 Annual Contest Editor &check;</h5>
{% endif %}

{% if page.header.annual_contest_2020 %}
    <h5>2020 Annual Contest Editor &check;</h5>
{% endif %}

{% if page.header.annual_contest_2019 %}
    <h5>2019 Annual Contest Editor &check;</h5>
{% endif %}

{% if page.header.mini %}
    <h5>Mini-Event Editor &check;</h5>
{% endif %}
