{% embed 'partials/base.html.twig' %}

    {% block content %}

        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        <div id="editor-tabs">

            <ul>
                
                {% for tab in page.header.tabs %}

                    <li><a href="#{{ tab.id }}">{{ tab.title }}</a></li>

                {% endfor %}

                <li><a href="#all-editors">All Editors</a></li>

            </ul>

            {% set collection = page.collection() %}

            {% for tab in page.header.tabs %}

                <div id="{{ tab.id }}">
                    {% if not tab.coming_soon %}
                        <div class="pure-g">
                            {% for child in collection %}
                                {% if attribute(child.header, tab.filter) %}
                                    <div class="editor pure-u-1 pure-u-md-1-3">
                                        <a href="{{ child.url }}">
                                            {{ child.media.images|last }}
                                            <h4>{{ child.header.title }}</h4>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h3>Coming Soon!</h3>
                    {% endif %}
                </div>

            {% endfor %}

            <div id="all-editors">
                <div class="pure-g">
                    {% for child in collection %}
                        <div class="editor pure-u-1 pure-u-md-1-3">
                            <a href="{{ child.url }}">
                                {{ child.media.images|last }}
                                <h4>{{ child.header.title }}</h4>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endblock %}

{% endembed %}
